.search {
    
    background-color: #95dada;
    padding: 8px 16px;
    line-height: 25px;
    font-size: 14px;
    font-weight: 500;
    font-family: inherit;
    border-radius: 6px;
    -webkit-appearance: none;
    margin-top: 10px;
    border: 1px solid darkcyan;
    -webkit-transition: border .3s ease;
    transition: border .3s ease;
  }
